* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* common */
.btn {
  --height: 56px;

  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--main-color);
}

:root {
  --main-color: #000958;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

img {
  object-fit: cover;
  object-position: center;
}

input,
button,
select,
textarea {
  font-size: inherit;
  font-weight: inherit;
}

.title-item {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}

.heading-item {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1923;
  color: var(--main-color);
}

.desc-item {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #656689;
}

body {
  height: 10000px;
}

/* HEADER */
header {
  position: sticky;
  top: -18px;
  padding-top: 26px;
  padding-bottom: 8px;
  background-color: #fff;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nabar-list {
  display: flex;
}

.nabar-list li a,
.header-action__in {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
  padding: 8px 18px;
}

.nabar-list li a:hover {
  text-shadow: 1px 0 0 var(--main-color);
}

.header-action__up {
  --height: 50px;
  min-width: 118px;
  border: 1px solid rgba(0, 9, 88, 0.7);
}

/* HERO */
.hero {
  padding-top: 92px;
  padding-bottom: 70px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero img */
.hero-content__img {
  position: relative;
}

.hero-content__img .hero-content__img--hero {
  width: 388px;
  height: 488px;
  border-radius: 16px;
}

.header-icon {
  position: absolute;
  left: -60px;
  bottom: 10px;
  z-index: -1;
}

.sub-header-icon {
  position: absolute;
  top: 14px;
  right: -42px;
  z-index: -1;
}

.hero__sub-img {
  position: absolute;
  bottom: -45px;
  right: -168px;
  width: 186px;
  height: 244px;
  border-radius: 16px;
  border: 1px solid #fff;
}

/* TYPE PET RATE IN HERO */
.hero__type-pet {
  position: absolute;
  bottom: -98px;
  right: 5px;
  width: 250px;
  padding: 18px 14px;
  background-color: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}

.hero__type-pet .type-pet__list {
  display: flex;
}

.hero__type-pet .type-pet__list img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hero__type-pet .type-pet__list img:hover {
  opacity: 0.9;
}

.type-pet__list .type-pet__list--content h3 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
  cursor: pointer;
}

.type-pet__list .type-pet__list--content h3:hover {
  text-decoration: underline;
}

.type-pet__list .type-pet__list--content .pet-rate__one {
  width: 118px;
  height: 4px;
  border-radius: 10px;
  background-color: #ebebf2;
  margin-top: 6px;
}

.type-pet__list .type-pet__list--content .pet-rate__two {
  width: 39px;
  height: 4px;
  border-radius: 10px;
  background-color: #ebebf2;
  margin-top: 6px;
}

.hero__type-pet .type-pet__line {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #f2f2f2;
}

/* hero content */
.hero-content__overview {
  padding-top: 110px;
}

.hero-content__overview--heading {
  width: 517px;
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.1515;
  padding-bottom: 24px;
}

.hero-content__overview--desc {
  width: 391px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #656689;
  margin: 0;
  padding-bottom: 38px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-action .hero-action__btn {
  display: flex;
  align-items: center;
}

.hero-action .hero-action__btn .hero-action__book {
  --height: 60px;

  min-width: 190px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  font-size: 16px;
  color: #fff;
}

.hero-action .hero-action__btn .icon-header {
  --height-icon: 20px;

  display: inline-block;
  height: var(--height-icon);
  line-height: var(--height-icon);
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
}

.hero-action__btn .icon-header img {
  transform: translateY(-2px) translateX(1px);
  text-align: center;
}

.hero-action .hero__more-infor {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration-line: underline;
  color: var(--main-color);
}

/* ABOUT */
.about {
  padding: 55px 0;
  margin-top: 78px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content__name {
  margin-bottom: 15px;
}

.about-content__heading {
  width: 446px;
  margin-bottom: 24px;
}

.about-content__desc {
  width: 430px;
  margin-bottom: 55px;
}

/*  ABOUT CHECKBOX CHOICES */
.about-content__choices {
}

.about-content__choices--column {
  display: flex;
}

.choices__column-1 {
  gap: 62px;
  margin-bottom: 34px;
}

.choices__column-2 {
  gap: 36px;
}

.about-content__choices--item {
  display: flex;
  align-items: center;
}

.about-content__choices--item label {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
  cursor: pointer;
}

.about-content__choices--item label::before,
.about-content__choices--item label::after {
  content: "";
  display: inline-block;
}

.about-content__choices--item label::before {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #9b9dc9;
}

.about-content__choices--item input:checked ~ label::before {
  border-color: #ff5d31;
  background-color: #ff5d31;
}

.about-content__choices--item input:checked ~ label::after {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  rotate: -45deg;
}

/* ABOUT IMAGAE */
.about-image {
  position: relative;
}

.about-image .about__main-img {
  width: 450px;
  display: block;
  z-index: 4;
}

.about-image .about-image__decorate {
  position: absolute;
  right: -70px;
  top: 290px;
  width: 135px;
  height: 95px;
  z-index: -1;
}

.about-image .about-image__background {
  position: absolute;
  bottom: 0;
  left: -45px;
  width: 494px;
  height: 270px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
  z-index: -1;
}

.about-image .about-image__experience {
  position: absolute;
  left: -135px;
  top: 290px;
  width: 136px;
  padding: 30px 26px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
}

.about-image__experience--heading {
  width: 84px;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.about-image__experience--desc {
  width: 84px;
  margin-top: 14px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: center;
  color: #c6f4f9;
}

.cat-foot {
  position: absolute;
  top: 252px;
  left: -50px;
}

/* FEATURES */

.features {
  padding: 16px 0 55px 0;
  margin-top: 78px;
}

.features-container {
  display: flex;
  align-items: center;
  gap: 128px;
}

/* FEATURES IMAGE */
.features-image {
  position: relative;
}

.features__main-img {
  width: 458px;
  height: 500px;
  border-radius: 14px;
}

.features-decorate {
  position: absolute;
}

.features__decorate-item1 {
  top: 8px;
  right: 60px;
}

.features__decorate-item2 {
  top: -18px;
  right: 10px;
}

.features__decorate-item3 {
  top: 42px;
  right: -24px;
}

.features__decorate-item4 {
  top: 50%;
  right: -35px;
}

.features__decorate-item5 {
  top: 61%;
  right: 25px;
}

.features__decorate-item6 {
  right: -45px;
  bottom: -50px;
}

/* FEATURES CONTENT */
.features-content {
  padding-top: 25px;
}

.features-content__heading {
  width: 543px;
  padding-bottom: 24px;
}

.features-content__desc {
  width: 510px;
  padding-bottom: 52px;
}

.features-content__pet-vocation {
  display: flex;
  align-items: center;
  gap: 55px;
  padding-bottom: 12px;
  border-bottom: 2px solid #ffefe7;
}

.features-content__pet-vocation--item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-content__pet-vocation--item:first-child img {
  margin-left: -7px;
}

.features-content__pet-vocation--item:first-child:after {
  position: absolute;
  bottom: -13px;
  content: "";
  display: inline-block;
  width: 95px;
  height: 0px;
  border: 1px solid #ff5b2e;
}

.features-content__pet-vocation--item h4 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

.features-content__sub-desc {
  margin-top: 36px;
  margin-bottom: 32px;
  width: 391px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71428;
  color: #656689;
}

.features-content__more-infor {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1.5px solid #ff5d31;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ff5d31;
}

/* SERVICES */
.services {
  margin-top: 130px;
  padding: 70px 0 100px 0;
  background-color: #fff6ed;
}

/* SERVICES TITLE */
.services-title {
  text-align: center;
  margin-bottom: 70px;
}

.services-title__demand {
  margin-bottom: 15px;
}

/* SERVICES CONTENT */
.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-content__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-content__column--item {
  background-color: #fff;
  padding: 30px 22px 30px 28px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}

.scr__item-heading {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
  margin-bottom: 18px;
}

.scr__item-heading::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  width: 2px;
  height: 22px;
  background: linear-gradient(#ff5b2e, #ffa187);
}

.scr__item-desc {
  margin-bottom: 24px;
  width: 244px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}

.scr__item--action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scr__item--more-info {
  font-family: "Sora";
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}

.scr__item--more-info:hover {
  text-decoration: underline;
}

/* SERVICE IMG */
.services-img {
  position: relative;
}

.si__main-img {
  position: absolute;
  bottom: -9px;
  width: 440px;
  height: 628px;
  margin-top: 45px;
  z-index: 4;
}

.si__main-img--background {
  margin-top: 186px;
  width: 440px;
  height: 350px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}

.see-all-service {
  margin-top: 45px;
}

.services__main-action {
  text-align: center;
}

.see-all-services {
  min-width: 214px;
  color: #ff5b2e;
  border: 1px solid #ff997a;
  border-radius: 31px;
  margin-top: -16px;
}

.see-all-services:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* TEAM */
.team {
  padding: 30px 0;
  margin-top: 100px;
}

/*  TEAM TITLE  */
.team-title {
  text-align: center;
}

.team-title__intro {
  margin-bottom: 15px;
}

.team-title__heading {
  margin-bottom: 78px;
}

/* TEAM MEMBER */
.team-member {
  display: flex;
  align-items: center;
  gap: 68px;
}

.team-member--down {
  position: relative;
}

.team-member--down:hover .member-avatar {
  scale: 1.05;
}

/* BACKGROUND MEMBER */
.team-member__background {
  width: 234px;
  height: 266px;
  border-radius: 129px;
}

.tmb__iteam-1 {
  background: linear-gradient(
    0deg,
    rgba(154, 120, 190, 1) 0%,
    rgba(45, 189, 253, 1) 100%
  );
}

.tmb__iteam-2 {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.tmb__iteam-3 {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.tmb__iteam-4 {
  background: rgb(120, 255, 197);
  background: linear-gradient(
    0deg,
    rgba(120, 255, 197, 1) 18%,
    rgba(30, 182, 218, 1) 93%
  );
}

.team-member--down .member-avatar {
  position: absolute;
  bottom: 79px;
  width: 234px;
  height: 285px;
  border-radius: 0 0 129px 129px;
  transition: 0.3s;
}

.half-circle-down {
  position: absolute;
  bottom: 78px;
  right: -18px;
}

.half-circle-up {
  position: absolute;
  top: 0;
  right: -18px;
}

.team-member__infor {
  margin-top: 30px;
  text-align: center;
}

.team-member__infor--position {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}

.team-member__infor--name {
  font-family: "Sora";
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
  margin-top: 14px;
}

/*  TEAM ACTION */
.team-action {
  text-align: center;
  margin-top: 48px;
}

.team-action__btn {
  min-width: 193px;
  color: #ff5b2e;
  border-radius: 99px;
  border: 1px solid #ff9b7e;
}

.team-action__btn:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* CHOICES */
.choices {
  background: #fff6ed;
  padding: 86px 0 86px 0;
}

/* CHOICES TITLE */
.choices-title {
  text-align: center;
  margin-bottom: 56px;
}

.choices-title__desc {
  margin: auto;
  margin-top: 34px;
  margin-bottom: 38px;
  width: 710px;
}

.choices-title__time {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 276px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ff997a;
  border-radius: 99px;
}

.choices-title__time--item label {
  display: inline-block;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ff5b2e;
  border-radius: 99px;
  cursor: pointer;
}

.choices-title__time--item [type="radio"]:checked ~ label {
  background: #ff5b2e;
  color: #fff;
}

.choices-title__time--sale {
  position: absolute;
  right: -115px;
  top: -12px;
}

/* CHOICES CONTENT */
.choices-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.choices-content__column {
  padding: 30px 28px 43px 28px;
  background-color: #fff;
  border-radius: 20px;
}

.choices-content__column-type {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #ff5b2e;
}

.choices-content__column--method-care {
  margin-bottom: 24px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #3f4065;
}

.choices-content__column--price {
  font-family: "Sora";
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.03;
  color: var(--main-color);
  margin-bottom: 22px;
}

.choices-content__column--btn {
  --height: 44px;

  min-width: 246px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: var(--height);
  color: #ff5b2e;
  border: 1px solid rgba(255, 91, 46, 0.6);
  border-radius: 39px;
  margin-bottom: 24px;
}

.choices-content__column--btn:hover {
  color: #fff;
  background: #FF5B2E;
}

.choices-content__column-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.choices-content__column-list li {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}

.choices-content__column-list li::before {
  content: "";
  margin-right: 15px;
  display: inline-block;
  width: 8px;
  height: 4px;
  rotate: -45deg;
}

.allowed::before {
  border-left: 1px solid #ff5b2e;
  border-bottom: 1px solid #ff5b2e;
}

.forbiden::before {
  border-left: 1px solid rgba(255, 91, 46, 0.4);
  border-bottom: 1px solid rgba(255, 91, 46, 0.4);
}

/* REVIEW */
.review {
  padding: 77px 0 94px 0;
}